diagrammi/.progetto_pissir.vpp.lck

codice/OnlyFarms/.vs

codice/OnlyFarms/OnlyFarms.Core/bin
codice/OnlyFarms/OnlyFarms.Core/obj

codice/OnlyFarms/OnlyFarms.RestApi/bin
codice/OnlyFarms/OnlyFarms.RestApi/obj