@page "/FarmingCompanies/{farmingCompanyId:int}/WaterUsages"
@model OnlyFarms.WebApp.Pages.FarmManager.WaterUsages.Index

@{
    ViewData["Title"] = "Water Usages";
}

<div class="row" id="box-search">
    <div class="thumbnail text-center">
        <img class="img-fluid" src="/img/waterUsage.jpg" alt="" width="85%">
        <div class="caption">
            <h1 style="color: white">YOUR WATER USAGES</h1>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h5>This page should be updated automatically by your IoT Subsystem</h5>
    @if (Model.WaterUsages.Any())
    {
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">TIMESTAMP</th>
                <th scope="col">CONSUMED QUANTITY</th>

            </tr>
            </thead>
            <tbody>
            @foreach (var usage in Model.WaterUsages)
            {
                <tr>
                    <td>@(usage.Timestamp.ToString("dd/MM/yyyy"))</td>
                    <td>@($"{usage.ConsumedQuantity} liters")</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <h5 class="text-danger">Your IoT Subsystem hasn't registered any water usage yet!</h5>
    }
</div>
