@page "/FarmingCompanies/{farmingCompanyId:int}/WaterUsages"
@model OnlyFarms.WebApp.Pages.FarmManager.WaterUsages.Index

@{
    ViewData["Title"] = "Water Usages";
}

@* questa pagina e' accessibile da entrambi i tipi di utente (FarmManager e WaterManager) ed alcuni dei suoi
   contenuti cambiano in base a chi la sta visitando attualmente *@

<div class="row" id="box-search">
    <div class="thumbnail text-center">
        <img class="img-fluid" src="/img/waterUsage.jpg" alt="" width="85%">
        <div class="caption">
            @if (User.HasClaim(nameof(Roles), Roles.FarmManager))
            {
                <h1 style="color: white">YOUR WATER USAGES</h1>
            }
            else
            {
                <h1 style="color: white">@Model.CompanyName's<br/> WATER USAGES</h1>
            }
        </div>
    </div>
</div>

@* TODO aggiungere un filtro sul periodo delle date *@
<div class="container mt-4">
    @if (User.HasClaim(nameof(Roles), Roles.FarmManager))
    {
        <h5>This page should be updated automatically by your IoT Subsystem</h5>
    }
    
    @if (Model.WaterUsages.Any())
    {
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">TIMESTAMP</th>
                <th scope="col">TOTAL CONSUMED QUANTITY</th>

            </tr>
            </thead>
            <tbody>
            @foreach (var usage in Model.WaterUsages)
            {
                <tr>
                    <td>@(usage.TimeStamp.ToString("dd/MM/yyyy"))</td>
                    <td>@($"{usage.ConsumedQuantity} liters")</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        @if (User.HasClaim(nameof(Roles), Roles.FarmManager))
        {
            <h5 class="text-danger">Your IoT Subsystem hasn't registered any water usage yet!</h5>
        }
        else
        {
            <h5 class="text-danger">This company hasn't registered any water usage yet!</h5>
        }
    }
</div>
