@page "/FarmingCompanies/{farmingCompanyId:int}/Reservations/Reservation"
@model OnlyFarms.WebApp.Pages.FarmManager.Reservations.ReservationModel

@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<div class="row" id="box-search">
    <div class="thumbnail text-center">
        <img class="img-fluid" src="/img/waterLimit.jpg" alt="" width="85%">
        <div class="caption">
            <h1 style="color: white">NEW RESERVATION</h1>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h3 class="text"> SELECT THE WATER COMPANY</h3>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">NAME</th>
            <th scope="col">CITY</th>
            <th scope="col">ADDRESS</th>
            <th scope="col">WATER SUPPLY</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var waterC in Model.Companies)
        {
            <tr>
                <td><a href="/FarmingCompanies/@user!.CompanyId/Reservations/Reservation/@waterC.Id">@waterC.Name</a></td>
                <td>@waterC.City</td>
                <td>@waterC.Address</td>
                <td>@waterC.WaterSupply</td>
            </tr>
        }
        </tbody>
    </table>

</div>
