@page
@model OnlyFarms.WebApp.Areas.Tokens.Pages.JwtToken

@{
    ViewData["Title"] = "your API token";
    Layout = "Shared/_Layout";
}

<div class="container">
    <h1> here is your api JWT token: </h1>
    <div class="row">
        <div class="col-md-12 text-wrap">
            <textarea class="form-control" readonly="true" style="height: 10vw;"> @Model.UserToken?.Value </textarea>
            <br>
            <button id="copy" onclick="copyToClipboard()"> copy to clipboard </button>
        </div>
    </div>
    
    @* TODO se l'utente e' di tipo FarmManager bisogna anche generare un token per il sottosistema IoT dell'azienda *@
    
</div>

<script>
    // codice JavaScript (eseguito dal client) per copiare il token nella clipboard del dispositivo (copia veloce)
    function copyToClipboard() {
        navigator.clipboard.writeText("@Model.UserToken?.Value");
        document.getElementById("copy").innerText = "copied";
    }
</script>