@page
@model OnlyFarms.WebApp.Pages.NonActiveAccount

@{
    ViewData["Title"] = "Non-Active Account";
}

<h1>Your account isn't fully active yet</h1>
<p>Wait for an administrator to accept your registration request</p>