@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>Your registration request has been sent!</h1>
<h5>You will receive an email when an administrator confirms your registration.</h5>
